# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!Flow/Assets/Collision/*.obj
!Flow/Assets/Models/*.obj
!Sandbox/Assets/Collision/*.obj
!Sandbox/Assets/Models/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Binaries
Bin
Intermediate
.vs

# DLL
Flow/opencv_world430d.dll
Flow/opencv_world430.dll
Sandbox/opencv_world430d.dll
Sandbox/opencv_world430.dll
Sandbox/opencv_videoio_ffmpeg430_64.dll